<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753984139157-3ov13p80es7lk2vbh874vlh4e6ua25dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753984139157-3ov13p80es7lk2vbh874vlh4e6ua25dp</string>
	<key>API_KEY</key>
	<string>AIzaSyAwdQeJGXQE20BfNyz2RVfdRoO5J_df7Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>753984139157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamesmeli.Todos</string>
	<key>PROJECT_ID</key>
	<string>todos-52a46</string>
	<key>STORAGE_BUCKET</key>
	<string>todos-52a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753984139157:ios:44b1bcaaf7c4bb24ced09c</string>
	<key>DATABASE_URL</key>
	<string>https://todos-52a46.firebaseio.com</string>
</dict>
</plist>